/*
* {
    border: 1px solid red;
}
*/  

body {
    font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    color: #f9faf8;
    text-decoration: none;
    padding: 15px 5px;
}

header, footer {
    padding: 16px;
    height: 50px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    flex: none;
  }

.header-left {
    color: #f9faf8;
    font-size: 24px;
    align-self: center;
    display: flex;
    align-items: center;
}

.header-left img {
    height: 150px;
}

.header-right {
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    align-self: center;
}

.header-links {
    display: flex;
    gap: 15px;
}

footer {
    color: #e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 50px;
}

.section-hero {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    
}

    .hero-wrapper {
        width: 33%;
        margin: 75px 0;
        padding: 20px;
    }

    .hero-heading {
        font-size: 48px;
        font-weight: 900;
        color: #f9faf8;
    }

    .hero-content {
        font-size: 18px;
        color: #e5e7eb;
        margin: 10px 0px;
    }

    .image-container {
        width: 33%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .image-container img {
        width: 100%;
        border-radius: 5px;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: auto;
    }

    .button {
        color: #f9faf8;
        background-color: #3882f6;
        font-size: 18px;
        margin: 10px 0px;
        border-radius: 5px;
        width: 150px;
        height: 50px;
    }

    .hero-button {
        color: #f9faf8;
        background-color: #3882f6;
    }

    .signup-button {    
        border: 2px solid #f9faf8;
        color: #f9faf8;
    }   

.section-cards {
    height: 33%;
}

    .card-title {
        font-size: 36px;
        font-weight: 900;
        color: #1f2937;
        text-align: center;
        padding: 20px;

    }

    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .card img {
        border-radius: 10px;
        border: 2px solid #1f2937;
        box-shadow: 2px 4px 16px rgba(0,0,0,.3);
        height: auto;
        width: 200px;
    }

    .card-text {
        text-align: center;
    }

    .card-text h4 {
        margin: 0;
    }

    .card-text h5 {
        margin: 0;
    }

    .card-footer {
        padding:15px;
        font-size: 18px;
        font-style: italic;
        font-weight: 300;
        text-align: center;
    }

.section-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    height: 20rem;
}

    .quote-text {
        margin: 50px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .quote-text span {
        font-size: 36px;
        font-weight: 100; 
        font-style: italic;
    }

    .quote-author {
        align-self: flex-end;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 900;  
    }

.section-signup {
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

    .signup-container {
        width: 75%;
        height: 10rem;
        border-radius: 10px;
        background-color: #3882f6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 100px;
    }

    .signup-content {
        font-size: 24px;
        font-weight: 900;

    }

    .signup-text {
        flex: auto;
        font-size: 16px;
        font-weight: 300;
        padding: 10px 0px;  
    }
